@*<iframe src="https://www.boomplay.com/" height="1500px" width="1100px"></iframe>*@

@*<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.boomplay.com/" allowfullscreen></iframe>
</div>*@

Access Denied