@{
    ViewBag.Title = "Security";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="card shadow m-3">
    <div class="card-header py-4">
        <h6 class="m-0 font-weight-bold text-primary"> Security Report</h6>
    </div>
    <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="https://app.powerbi.com/view?r=eyJrIjoiZDI1ODUxM2QtY2QwYy00MDE3LWJhYTQtYWM1MzVhMDY3NTQ3IiwidCI6ImUxMmY3ZjdiLWUwMjYtNDQ1Ny1hYjE3LTM0NjU1YzY5YTYyOCIsImMiOjh9&pageName=ReportSection08ce0a23ec513c7507f7"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>