@{
    ViewBag.Title = "Computer Teachers";
    Layout = "/Views/Shared/Layout.cshtml";
}


@*Teachers info*@
<div class="card shadow m-3">
    <div class="card-header py-4">
        <h6 class="m-0 font-weight-bold text-primary"> Computer Teachers Report</h6>
    </div>
    <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src=" https://app.powerbi.com/view?r=eyJrIjoiOTkyYWRkYjktNDUwZi00MjAyLWE3ZTctMGVmZjFlYjNkYzRkIiwidCI6ImUxMmY3ZjdiLWUwMjYtNDQ1Ny1hYjE3LTM0NjU1YzY5YTYyOCIsImMiOjh9&pageName=ReportSection639a300df986c8e01cd3"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>