@{
    ViewBag.Title = "Special Needs";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="card shadow m-3">
    <div class="card-header py-4">
        <h6 class="m-0 font-weight-bold text-primary"> Special Needs Report</h6>
    </div>
    <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="https://app.powerbi.com/view?r=eyJrIjoiY2JjNzNjMzEtOWVhOC00ODM4LTg0ZDUtN2M0ZmIwNzM0MjI3IiwidCI6ImUxMmY3ZjdiLWUwMjYtNDQ1Ny1hYjE3LTM0NjU1YzY5YTYyOCIsImMiOjh9&pageName=ReportSection47ea266ffc37c2570c95"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>