@{
    ViewBag.Title = "Teachers' Information";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="card shadow m-3">
    <div class="card-header py-4">
        <h6 class="m-0 font-weight-bold text-primary">Teachers By Gender Report</h6>
    </div>
    <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src=" https://app.powerbi.com/view?r=eyJrIjoiOWQxYzE2M2ItNGFmMi00YTI0LTgyYjUtZTBhYTNhZjU0YjdmIiwidCI6ImUxMmY3ZjdiLWUwMjYtNDQ1Ny1hYjE3LTM0NjU1YzY5YTYyOCIsImMiOjh9&pageName=ReportSection"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>